.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.loader {
    width: 3em;
    height: 3em;
    border: 0.5em solid var(--secondary-color);
    border-bottom-color: var(--main-color);
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);

    }
}