.heroCard {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    transition: all .2s;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.heroCard:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 33px 10px rgba(0, 0, 0, 0.23);
    z-index: 10;
}

.heroCard__img {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.6);
}

.heroCard__name {
    margin: 0 auto;
    line-height: 100%;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    padding: .5rem;
}
